@charset "utf-8";
	
	body {
	
		background-color:white;
		font:san-serif;
	
	}
	#logo2016{
		position:relative;
		width:50%;
		margin-top:50px;
		margin-left:30%;
		margin-bottom: 50%; 
		margin-bottom:50px;
		
	}
	#logindesign {
		clear:both;
		position:absolute;
		margin-left:45%;
		margin-right: 50%;
	    font:san-serif;
	}
	
	input {
		border:2px solid #91bd49;
		height:30px;
		width:500px;
		border-radius:5px;
		margin:10px;
	}
	
	
	#dropbox {
		background-image: url("placementimage400.png");
		background-repeat:no-repeat;
		clear:both;
		float:left;
		border:2px solid #91bd49;
		height:400px;
		width:400px;
		border-radius:5px;
		margin:0px 20px 0px 100px;
	}
	#bookid {
		font-size:1em;
		color:#e36324;
		padding-left:5px;
		letter-spacing:1px;
	}
	#price {
		font-size:1em;
		color:#e36324;
		padding-left:5px;
		letter-spacing:1px;
	}
	#booktitle {
		font-size:1em;
		color:#e36324;
		padding-left:5px;
		letter-spacing:1px;
	}
	
	#publish {
		width:100px;
		height:55px;
		border:1px solid #8867ac;
		background-color:#8867ac;
		color:white;
		font-size:1em;
		letter-spacing:1px;
		text-transform:uppercase;
	}
	#publish:hover {
		width:100px;
		height:55px;
		border:3px solid #91bd49;
		background-color:#8867ac;
		color:white;
		font-size:1em;
		letter-spacing:1px;
		text-transform:uppercase;
	}
	
	
